table {border: 
		2px solid gold;}

td:hover {
		background-color: pink;
		color: yellow;}

tr, th { 
	background-color: cream;
	color: cornsilk;
	}

tr, td {background: silver;
		color: white;}